<div class="tab inventory" data-group="primary" data-tab="inventory">
  <div class="flex flexrow">
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        step="1"
        name="data.credits.debt"
        data-dtype="Number"
        value="{{actor.data.data.credits.debt}}"
      />
      <label for="data.credits.debt">{{actor.data.data.tweak.debtDisplay}}
      <a class="credits-change text-gray-100 hover:text-green-400 transition-colors"
        title="{{localize 'swnr.sheet.credit-change'}} {{actor.data.data.tweak.debtDisplay}}"
        data-credit-type="debt">
          <i class="fas fa-coins"></i>
      </a>
      </label>
    </div>
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        step="1"
        name="data.credits.balance"
        data-dtype="Number"
        value="{{actor.data.data.credits.balance}}"
      />
      <label for="data.credits.balance">{{actor.data.data.tweak.balanceDisplay}}
      <a class="credits-change text-gray-100 hover:text-green-400 transition-colors"
        title="{{localize 'swnr.sheet.credit-change'}} {{actor.data.data.tweak.balanceDisplay}}"
        data-credit-type="balance">
          <i class="fas fa-coins"></i>
      </a>
      </label>
    </div>
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        step="1"
        name="data.credits.owed"
        data-dtype="Number"
        value="{{actor.data.data.credits.owed}}"
      />
      <label for="data.credits.owed">{{actor.data.data.tweak.owedDisplay}}
      <a class="credits-change text-gray-100 hover:text-green-400 transition-colors"
        title="{{localize 'swnr.sheet.credit-change'}} {{actor.data.data.tweak.owedDisplay}}"
        data-credit-type="owed">
          <i class="fas fa-coins"></i>
      </a>
      </label>
    </div>
  </div>

  <div class="flex justify-between items-end">
    <!-- READIED -->
    <div class="meter-group flex-1">
      <div class="label roboto-condensed-upper">
        <span>{{localize 'swnr.item.locationReadied'}}</span>
      </div>
      <div class="meter sectioned hit-points">
        <div class="progress hit-points" role="meter" aria-valuemin="0"
          aria-valuenow="{{ numReadied }}"
          aria-valuemax="{{ actor.data.data.encumbrance.ready.max }}" {{#if actor.data.data.encumbrance.ready.max}}
          style="--bar-percentage: min(calc(100% * {{numReadied}}/{{actor.data.data.encumbrance.ready.max}}))"
          {{else}} style="--bar-percentage: 0%" {{/if}}>
          <div class="label">
            <span class="value">{{ numReadied }}</span>
            <span class="separator">&sol;</span>
            <span class="max">{{ actor.data.data.encumbrance.ready.max }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- STOWED -->
    <div class="meter-group flex-1">
      <div class="label roboto-condensed-upper">
        <span>{{localize 'swnr.item.locationStowed'}}</span>
      </div>
      <div class="meter sectioned strain">
        <div class="progress strain" role="meter" aria-valuemin="0" aria-valuenow="{{ numStowed }}"
          aria-valuemax="{{ actor.data.data.encumbrance.stowed.max }}" {{#if
          actor.data.data.encumbrance.stowed.max}}
          style="--bar-percentage: min(calc(100% * {{numStowed}}/{{actor.data.data.encumbrance.stowed.max}}))" {{else}}
          style="--bar-percentage: 0%" {{/if}}>
          <div class="label">
            <span class="value">{{ numStowed }}</span>
            <span class="separator">&sol;</span>
            <span class="max">{{ actor.data.data.encumbrance.stowed.max }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- MODS -->
    {{#if showMods}}
      <div class="meter-group flex-1">
        <div class="label roboto-condensed-upper">
          <span>Mods</span>
        </div>
        <div class="meter sectioned mana">
          <div class="progress mana" role="meter" aria-valuemin="0" aria-valuenow="{{ numMods }}"
            aria-valuemax="{{ actor.data.flags.swnr-space-magic.max-mods }}" {{#if actor.data.flags.swnr-space-magic.max-mods}}
            style="--bar-percentage: min(calc(100% * {{numMods}}/{{actor.data.flags.swnr-space-magic.max-mods}}))" {{else}}
            style="--bar-percentage: 0%" {{/if}}>
            <div class="label">
              <span class="value">{{ numMods }}</span>
              <span class="separator">&sol;</span>
              <span class="max">{{ actor.data.flags.swnr-space-magic.max-mods }}</span>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  <div>
    {{> "modules/swnr-space-magic/templates/sheets/fragments/layouts/new1/item-table.hbs"
    itemList=itemTypes.weapon itemType="weapon" name="Weapon" showMods="0"
    }}
    {{> "modules/swnr-space-magic/templates/sheets/fragments/layouts/new1/item-table.hbs"
    itemList=itemTypes.armor itemType="armor" name="Armor" showMods="0"
    }}
    {{> "modules/swnr-space-magic/templates/sheets/fragments/layouts/new1/item-table.hbs"
    itemList=itemTypes.item itemType="item" name="Item" showMods="showMods"
    }}
  </div>
  {{!-- <div class="flex flex-wrap gap-2">
    {{#each itemTypes.weapon as |item id|}}
    <div class="w-36 flex-grow">
    {{> "modules/swnr-space-magic/templates/sheets/fragments/layouts/new1/item.html" type="character" item=item id=id}}
    </div>
    {{/each}}
    {{#each itemTypes.armor as |item id|}}
    <div class="w-36 flex-grow">
    {{> "modules/swnr-space-magic/templates/sheets/fragments/layouts/new1/item.html" type="character"  item=item id=id}}
    </div>
    {{/each}}
    {{#each itemTypes.item as |item id|}}
    <div class="w-36 flex-grow">
    {{> "modules/swnr-space-magic/templates/sheets/fragments/layouts/new1/item.html" type="character"  item=item id=id}}
    </div>
    {{/each}}
  </div> --}}
</div>
