<div class="tab combat" data-group="primary" data-tab="combat">
  <!-- SAVING THROWS -->
  <div class="saves col-span-4 flex-shrink-0 flex flex-row justify-between py-1 flex-wrap gap-2">
    <div data-save-type="physical" class="save sheet-button gap-2">
      dv{{actor.data.data.save.physical}} {{localize
      'swnr.sheet.saves.physical'}}
      <i class="fas fa-dice-d20"></i>
    </div>
    <div data-save-type="evasion" class="save sheet-button gap-2">
      v{{actor.data.data.save.evasion}} {{localize 'swnr.sheet.saves.evasion'}}
      <i class="fas fa-dice-d20"></i>
    </div>
    <div data-save-type="mental" class="save sheet-button gap-2">
      v{{actor.data.data.save.mental}} {{localize 'swnr.sheet.saves.mental'}}
      <i class="fas fa-dice-d20"></i>
    </div>
    {{#if useHomebrewLuckSave}}
    <div data-save-type="luck" class="save sheet-button gap-2">
      v{{actor.data.data.save.luck}} {{localize 'swnr.sheet.saves.luck'}}
      <i class="fas fa-dice-d20"></i>
    </div>
    {{/if}}
  </div>

  <!-- QUICK SKILLS -->
  <div class="saves col-span-4 flex-shrink-0 flex flex-row justify-between py-1 flex-wrap gap-2">
    <div class="gap-2">
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill1
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
    <div class="gap-2">
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill2
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
    <div class="gap-2">
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill3
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
  </div>
  <div class="swnr-space-magic-combat-tab-skill-check-controls">
    <button
      type="button"
      data-action="combat-swnr-roll"
      class="swnr-mage-btn"
    >SWNR Roll</button>
    <button
      type="button"
      data-action="combat-cod-roll"
      class="swnr-mage-btn"
    >COD Roll</button>
  </div>
  <div class="swnr-space-magic-combat-tab-skill-check-wrap mb-3">
    <!-- ATTRS -->
    <div class="swnr-space-magic-combat-tab-stats">
      {{#each actor.data.data.stats as |stat key|}}
      <div class="swnr-space-magic-combat-tab-skill">
        <label>
          <input type="checkbox" name="swnr-space-magic-combat-tab-skills[]"
            class="input-swnr-space-magic-combat-tab-skill" value="stat-{{ key }}" {{#swnr-space-magic-if-contains key
            ../combatRollSkills}} checked="checked" {{/swnr-space-magic-if-contains}} />
          {{ key }}
        </label>
        <div class="swnr-space-magic-combat-tab-skill-ranks">
          {{numberFormat stat.total decimals=0 sign=false}}
        </div>
        <div class="swnr-space-magic-combat-tab-stat-mod">
          {{numberFormat stat.mod decimals=0 sign=true}}
        </div>
      </div>
      {{/each}}
    </div>
    <!-- SKILLS -->
    <div class="swnr-space-magic-combat-tab-skills">
      {{#each itemTypes.skill as |item id|}}
      <div class="swnr-space-magic-combat-tab-skill">
        <label>
          <input type="checkbox" name="swnr-space-magic-combat-tab-skills[]"
            class="input-swnr-space-magic-combat-tab-skill" value="item-{{ item.id }}" {{#swnr-space-magic-if-contains
            item.id ../combatRollSkills}} checked="checked" {{/swnr-space-magic-if-contains}} />

          <div class="swnr-space-magic-combat-tab-skill-ranks">
            {{numberFormat item.data.data.rank decimals=0 sign=true}}
          </div>

          <span>{{ item.name }}</span>
        </label>

        <div class="swnr-space-magic-combat-tab-skill-controls">
          <button type="button" data-action="combat-skill-edit" class="swnr-mage-btn swnr-space-magic-combat-tab-skill-edit"
            data-skill="{{ item.id }}"><i class="fa fa-edit"></i></button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="flex min-w-full mb-3">
    <!-- READIED WEAPON COL -->
    <div class="flex-col w-1/2 mr-3">
      <h4 class="text-lg underline">
        {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.weapons'}}
      </h4>
      <div class="space-y-2">
        {{#each itemTypes.weapon as |item id|}}
        {{#if (eq item.data.data.location "readied")}}
        {{>
        "systems/swnr/templates/actors/fragments/weapon.html" item=item
        damageBonus=(getPCStatModForWeapon actor item true)
        hitBonus=(concat actor.data.data.ab (getPCStatModForWeapon actor item false))
        type=actor.type actor=actor}}
        {{/if}}
        {{/each}}
      </div>
    </div>
    <!-- READIED ARMOR COL -->
    <div class="flex-col w-1/2">
      <h4 class="text-lg underline">
        {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.armor'}}
      </h4>
      {{#if actor.data.data.settings.useTrauma}}
      ({{localize 'swnr.sheet.traumaTarget'}}: {{actor.data.data.modifiedTraumaTarget}})
      {{/if}}
      {{#if actor.data.data.settings.useCWNArmor}}
      ({{localize 'swnr.armor.soak.label'}} Total:
      {{actor.data.data.soakTotal.value}}/{{actor.data.data.soakTotal.max}} )
      {{/if}}

      <div class="flex flex-col">

        {{#each itemTypes.armor as |item id|}}
        {{#if (eq item.data.data.location "readied")}}

        {{>
        "systems/swnr/templates/actors/fragments/armor.html" item=item
        type=actor.type}}
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>