<div class="dice-roll swnr-mage-chat-roll-wrap">
  <div  class="swnr-mage-chat-roll-content">
    <h2>
      {{actor.name}} casts
      {{#if calculatedValues.self-created}}
        self-created
      {{/if}}
      {{ formVals.swnr-space-magic-casting-method }} {{calculatedValues.name}}
      {{#if calculatedValues.grimoire}}
        from Grimoire
      {{/if}}
    </h2>
    <button
      type="button"
      class="swnr-space-magic-add-active-spell"
      data-actor-id="{{actor.id}}"
      data-spell-id="{{calculatedValues.spellId}}"
      data-active-info="{{activeSpellInfo}}"
    >Add to Active Spells</button>
    <table class="swnr-mage-chat-roll-table">
      <tbody>
        <tr><th>Gnosis</th><td>{{gnosis.system.rank}}</td></tr>
        <tr><th>Arcanum</th><td>{{calculatedValues.arcanum }}</td></tr>
        <tr><th>Practice</th><td>{{calculatedValues.practiceData.name }}</td></tr>
        {{#if calculatedValues.withstand}}
        <tr><th>Withstand</th><td>{{calculatedValues.withstand }}</td></tr>
        {{/if}}
        <tr><th>
          {{#swnr-space-magic-if-equals calculatedValues.primary-factor 'potency'}}
            <span title="Primary Factor">*</span>
          {{/swnr-space-magic-if-equals}}
          Potency
          {{#if calculatedValues.potency-advanced}}
          <span title="Advanced">(Advanced)</span>
          {{/if}}
        </th><td>{{ calculatedValues.potency }}</td></tr>
        <tr><th>
          {{#swnr-space-magic-if-equals calculatedValues.primary-factor 'duration'}}
            <span title="Primary Factor">*</span>
          {{/swnr-space-magic-if-equals}}
          Duration
          {{#if calculatedValues.duration-advanced}}
          <span title="Advanced">(Advanced)</span>
          {{/if}}
        </th><td>{{calculatedValues.durationData.name }}</td></tr>
        <tr><th>
          Range
          {{#if calculatedValues.range-advanced}}
          <span title="Advanced">(Advanced)</span>
          {{/if}}
        </th><td>{{calculatedValues.rangeData.name }}</td></tr>
        <tr><th>
          Scale
          {{#if calculatedValues.scale-advanced}}
          <span title="Advanced">(Advanced)</span>
          {{/if}}
        </th><td>{{calculatedValues.scaleData.name }}</td></tr>
        <tr><th>
          Casting Time
          {{#if calculatedValues.casting-time-advanced}}
          <span title="Advanced">(Advanced)</span>
          {{/if}}
        </th><td>
          {{#if calculatedValues.casting-time-advanced}}
            {{calculatedValues.casting-time-turns }} turn(s)
          {{else}}
            {{calculatedValues.castTimeData.name }}
          {{/if}}
          </td></tr>
        {{#if calculatedValues.spend-willpower}}
          <tr><th>Strain for +3?</th><td>{{#if calculatedValues.spend-willpower }}Yes{{else}}No{{/if}}</td></tr>
        {{/if}}
        {{#if calculatedValues.yantraNames}}
          <tr><th>Yantras</th><td>{{calculatedValues.yantraNames }}</td></tr>
        {{/if}}
        {{#if calculatedValues.additional-dice}}
          <tr><th>Additional Dice</th><td>{{calculatedValues.additional-dice }}</td></tr>
        {{/if}}
        {{#if calculatedValues.yantradice}}
          <tr><th>Extra Yantra Bonus</th><td>{{calculatedValues.yantradice }}</td></tr>
        {{/if}}
        {{#if calculatedValues.effectiveYantraBonus}}
          <tr><th>Effective Yantra Bonus</th><td>{{calculatedValues.effectiveYantraBonus }}</td></tr>
        {{/if}}
        <tr><th>Used Dedicated Tool</th><td>{{#if calculatedValues.dedicated-tool }}Yes{{else}}No{{/if}}</td></tr>
      </tbody>
      <tfoot>
        <tr><th>Reach</th><td>{{ calculatedValues.reach }}/{{ calculatedValues.reachMax }}</td></tr>
        {{#if calculatedValues.manaCost}}
        <tr>
          <th>Mana Cost</th>
          <td>{{ calculatedValues.manaCost }}</td>
        </tr>
        {{/if}}
        {{#if calculatedValues.strainCost}}
        <tr>
          <th>Strain Cost</th>
          <td>{{ calculatedValues.strainCost }}</td>
        </tr>
        {{/if}}
        {{#swnr-space-magic-if-not-equal paradoxRoll null}}
          <tr><th>Paradox Dice</th><td>{{ calculatedValues.paradoxDice }}</td></tr>
          <tr><th>Containing Paradox</th><td>
            {{#if calculatedValues.contain-paradox}}
              Yes
            {{else}}
              No
            {{/if}}
          </td></tr>
        {{/swnr-space-magic-if-not-equal}}
      </tfoot>
    </table>
    {{#if calculatedValues.potency-advanced}}
      <div>Note: +2 to withstand dispellation</div>
    {{/if}}
  </div>
  <div class="dice-result">
    <h4 class="swnr-mage-chat-roll-section-title">Spell Cast Roll</h4>
    <div class="dice-tooltip" style="display: none;">
      <div class="dice-formula swnr-mage-chat-roll-dice-formula">{{r.formula}}</div>
      <section class="tooltip-part">
        <div class="dice">
          <ol class="dice-rolls">
            {{#each r.dice as |dice|}}
              {{#each dice.results as |roll|}}
                <li class="roll die d10
                {{#if roll.success}}success{{/if}}
                {{#if roll.exploded}}exploded{{/if}}
                ">{{roll.result}}</li>
              {{/each}}
            {{/each}}
          </ol>
        </div>
      </section>
    </div>
    <h4 class="dice-total swnr-mage-chat-roll-total-successes swnr-mage-chat-roll-result-{{successType}}">
      {{#swnr-space-magic-if-equals successType 'exceptional'}}
        Exceptional Cast
      {{/swnr-space-magic-if-equals}}
      {{#swnr-space-magic-if-equals successType 'success'}}
        Successfully Cast
      {{/swnr-space-magic-if-equals}}
      {{#swnr-space-magic-if-equals successType 'failure'}}
        Not Cast
      {{/swnr-space-magic-if-equals}}
      {{#swnr-space-magic-if-equals successType 'dramafail'}}
        Dramatic Failure to Cast
      {{/swnr-space-magic-if-equals}}
      <small>Successes: {{r.result}}</small>
    </h4>
  </div>
  {{#if paradoxRoll}}
    <div class="dice-result">
      <h4 class="swnr-mage-chat-roll-section-title">Paradox</h4>
      <div class="dice-tooltip" style="display: none;">
        <div class="dice-formula swnr-mage-chat-roll-dice-formula">{{paradoxRoll.formula}}</div>
        <section class="tooltip-part">
          <div class="dice">
            <ol class="dice-rolls">
              {{#each paradoxRoll.dice as |dice|}}
                {{#each dice.results as |roll|}}
                  <li class="roll die d10
                  {{#if roll.success}}success{{/if}}
                  {{#if roll.exploded}}exploded{{/if}}
                  ">{{roll.result}}</li>
                {{/each}}
              {{/each}}
            </ol>
          </div>
        </section>
      </div>
      <h4 class="dice-total swnr-mage-chat-roll-total-successes swnr-mage-chat-roll-result-{{paradoxSuccessType}}">
        {{#swnr-space-magic-if-equals paradoxSuccessType 'exceptional'}}
          No Paradox, but in a cool way...
        {{/swnr-space-magic-if-equals}}
        {{#swnr-space-magic-if-equals paradoxSuccessType 'success'}}
          No Paradox
        {{/swnr-space-magic-if-equals}}
        {{#swnr-space-magic-if-equals paradoxSuccessType 'failure'}}
          Paradox Occurs
        {{/swnr-space-magic-if-equals}}
        {{#swnr-space-magic-if-equals paradoxSuccessType 'dramafail'}}
          Paradox Occurs, Condition gained
        {{/swnr-space-magic-if-equals}}
        <small>Successes: {{paradoxRoll.result}}</small>
      </h4>
    </div>

    {{#if paradoxDmgRoll}}
      <div class="dice-result">
        <h4 class="swnr-mage-chat-roll-section-title">Contain Paradox Damage</h4>
        <div class="dice-tooltip" style="display: none;">
          <div class="dice-formula swnr-mage-chat-roll-dice-formula">{{paradoxDmgRoll.formula}}</div>
          <section class="tooltip-part">
            <div class="dice">
              <ol class="dice-rolls">
                {{#each paradoxDmgRoll.dice as |dice|}}
                  {{#each dice.results as |roll|}}
                    <li class="roll die d10
                    {{#if roll.success}}success{{/if}}
                    {{#if roll.exploded}}exploded{{/if}}
                    ">{{roll.result}}</li>
                  {{/each}}
                {{/each}}
              </ol>
            </div>
          </section>
        </div>
        <h4 class="dice-total swnr-mage-chat-roll-total-successes swnr-mage-chat-roll-result-{{paradoxSuccessType}}">
          <small>{{paradoxDmgRoll.result}} Damage</small>
        </h4>
      </div>
    {{/if}}
  {{/if}}
  {{#if aimedRoll}}
    <div class="dice-result">
      <h4 class="swnr-mage-chat-roll-section-title">Aimed To Hit Roll</h4>
      <div class="dice-tooltip" style="display: none;">
        <div class="dice-formula swnr-mage-chat-roll-dice-formula">{{aimedRoll.formula}}</div>
        <section class="tooltip-part">
          <div class="dice">
            <ol class="dice-rolls">
              {{#each aimedRoll.dice as |dice|}}
                {{#each dice.results as |roll|}}
                  <li class="roll die d10
                  {{#if roll.success}}success{{/if}}
                  {{#if roll.exploded}}exploded{{/if}}
                  ">{{roll.result}}</li>
                {{/each}}
              {{/each}}
            </ol>
          </div>
        </section>
      </div>
      <h4 class="dice-total swnr-mage-chat-roll-total-successes">
        {{log aimedRoll}}
        To Hit: {{aimedRoll.total}}
      </h4>
    </div>
  {{/if}}
</div>
<div>
{{#swnr-space-magic-if-equals successType 'exceptional'}}
  <p>The spell's effect takes place better than imagined. The character regains one spent point of Willpower, and the player may choose one of the following results;</p>
  <ul>
    <li>A bonus step in the primary spell factor.</li>
    <li>A Reach in the primary spell factor.</li>
    <li>A Condition which will give Arcane Beats when resolved, on either the mage or her subject.</li>
    <li>All Mana spent on the spell is refunded, and the mage receives one more point of Mana.</li>
    <li>The spell ignores any Withstand levels and takes effect at full Potency.</li>
  </ul>
{{/swnr-space-magic-if-equals}}
{{#swnr-space-magic-if-equals successType 'success'}}
  <p>The spell’s effect takes place as imagined.</p>
{{/swnr-space-magic-if-equals}}
{{#swnr-space-magic-if-equals successType 'failure'}}
  <p>The magic does not work, the mage’s imagination is not made real.</p>
{{/swnr-space-magic-if-equals}}
{{#swnr-space-magic-if-equals successType 'dramafail'}}
  <p>The magic does not work. The caster gains a Condition based on the intended outcome of the spell.</p>
{{/swnr-space-magic-if-equals}}
</div>

{{#if calculatedValues.spell}}
  <div class="swnr-mta-collapse-wrap">
    <h3 class="swnr-mta-collapse-title">Spell Description
      <span>Expand</span>
    </h3>
    <div class="swnr-mta-collapse-content">
      {{{ calculatedValues.spell.system.description}}}
      {{log calculatedValues.spellReachData}}
      {{#if calculatedValues.spellReachData}}
        {{#each calculatedValues.spellReachData}}
          <p>
            <strong>
              {{#swnr-space-magic-if-equals this.variant 'addon'}}
                {{this.prereq.key}} {{this.prereq.dots}}
              {{else}}
                +{{this.reachCost}} Reach
              {{/swnr-space-magic-if-equals}}
            </strong>
            {{ this.desc}}
          </p>
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if calculatedValues.yantraData}}
  <div class="swnr-mta-collapse-wrap">
    <h3 class="swnr-mta-collapse-title">Yantras
      <span>Expand</span>
    </h3>
    <div class="swnr-mta-collapse-content">
      {{#each calculatedValues.yantraData}}
        <h3>{{this.name}} (+{{this.bonus}})</h3>
        <div>{{{ this.desc}}}</div>
      {{/each}}
    </div>
  </div>
{{/if}}