<form class="magic-casting-modal">
  {{log this}}
  <header>
    <h1>Cast {{ defaultValues.name }} as {{ actor.name }}</h1>
  </header>
  <div class="magic-casting-content">
    <aside class="magic-casting-sidebar">
      <div class="magic-casting-panel">
        <div class="magic-casting-panel-title">Gnosis</div>
        <div class="magic-casting-panel-content">
          <div class="magic-casting-panel-content-stat">{{mageInfo.gnosis.system.rank}}</div>
        </div>
      </div>
      <div class="magic-casting-panel">
        <div class="magic-casting-panel-title">Arcana</div>
        <div class="magic-casting-panel-content">
          {{#each availableArcana as |arcanum|}}
            <label class="magic-casting-panel-arcana-row">
              <input
                type="checkbox"
                name="{{../flag}}-arcanum[]"
                class="magic-casting-panel-content-field"
                value="{{arcanum.name}}"
                {{#swnr-space-magic-if-contains arcanum.name ../defaultValues.arcanum }}
                  checked="checked"
                {{/swnr-space-magic-if-contains}}
              />
              {{arcanum.name}} ({{arcanum.rank}})
            </label>
          {{/each}}
        </div>
      </div>
      <div class="magic-casting-panel">
        <div class="magic-casting-panel-title">Practice</div>
        <div class="magic-casting-panel-content">
          <select name="{{flag}}-practice" class="magic-casting-panel-content-field">
            {{#each practices as |rankpractices rank|}}
            <optgroup label="{{rank}} dot">
              {{#each rankpractices as |p k|}}
              <option
                value="{{k}}"
                {{#swnr-space-magic-if-equals k ../../defaultValues.practice }}
                  selected="selected"
                {{/swnr-space-magic-if-equals}}
              >{{p.name}}</option>
              {{/each}}
            </optgroup>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="magic-casting-panel">
        <div class="magic-casting-panel-title">Casting Method</div>
        <div class="magic-casting-panel-content">
          <select name="{{flag}}-casting-method" class="magic-casting-panel-content-field">
            {{#each castingMethods as |p k|}}
              <option
                value="{{k}}"
                {{#swnr-space-magic-if-equals k ../defaultValues.casting-method }}
                  selected="selected"
                {{/swnr-space-magic-if-equals}}
              >{{p.name}}</option>
              {{/each}}
          </select>

          {{#swnr-space-magic-if-equals defaultValues.casting-method 'rote'}}
          <div class="form-group">
            <label>
              <input
                type="checkbox"
                name="{{flag}}-grimoire"
                {{#if defaultValues.grimoire }}
                  checked="checked"
                {{/if}}
                class="magic-casting-panel-content-field"
              >
              From Grimoire
            </label>
          </div>

          <div class="form-group">
            <label>
              <input
                type="checkbox"
                name="{{flag}}-self-created"
                {{#if defaultValues.self-created }}
                  checked="checked"
                {{/if}}
                class="magic-casting-panel-content-field"
              >
              Self Created
            </label>
          </div>
          {{/swnr-space-magic-if-equals}}
        </div>
      </div>
      <div class="magic-casting-panel">
        <div class="magic-casting-panel-title">Primary Factor</div>
        <div class="magic-casting-panel-content">
          <select name="{{flag}}-primary-factor" class="magic-casting-panel-content-field">
            {{#each primaryFactors as |p k|}}
              <option
                value="{{k}}"
                {{#swnr-space-magic-if-equals k ../defaultValues.primary-factor }}
                  selected="selected"
                {{/swnr-space-magic-if-equals}}
              >{{p.name}}</option>
              {{/each}}
          </select>
        </div>
      </div>
      <div class="magic-casting-panel">
        <div class="magic-casting-panel-title">
          Withstand
        </div>
        <div class="magic-casting-panel-content">
          <input type="text" name="withstand" class="magic-casting-panel-content-field" value="{{defaultValues.withstand}}"/>

          {{#if defaultValues.withstand}}
            <div class="form-group form-group-stacked">
              <label>Withstand Amount</label>
              <input
                type="number"
                name="{{flag}}-withstand-value"
                class="magic-casting-panel-content-field"
                value="{{defaultValues.withstand-value}}"
              />
            </div>
          {{/if}}
        </div>
      </div>
    </aside>
    <main class="magic-casting-spell-list">
      <nav class="tabs magic-casting-spells-nav" data-group="spell-options">
        <a
          type="button"
          class="item mage-spell-options-tab"
          data-tab="spell-factors"
        >
            Factors
        </a>
        <a
          type="button"
          class="item mage-spell-options-tab"
          data-tab="spell-yantras"
        >
            Yantras
        </a>
        <a
          type="button"
          class="item mage-spell-options-tab"
          data-tab="spell-other"
        >
            Other Modifiers
        </a>
      </nav>
      <div class="tab-wrap">
        <div class="tab" data-tab="spell-factors" data-group="spell-options">
          {{#swnr-space-magic-if-equals defaultValues.casting-method 'improvised'}}
          <fieldset>
            <div class="form-group form-group-stacked">
              <label>Practice: {{defaultValues.practiceData.name}}</label>
              <div>{{defaultValues.practiceData.desc}}</div>
            </div>
          </fieldset>
          {{/swnr-space-magic-if-equals}}
          {{#if defaultValues.spell}}
          <fieldset>
            <div class="form-group form-group-stacked">
              <label>Spell: {{defaultValues.spell.name}}</label>
              <div>{{{defaultValues.spell.system.description}}}</div>
            </div>
          </fieldset>
          {{/if}}
          <fieldset>
            <div class="form-group">
              <label>Potency</label>
              <input type="number" name="{{flag}}-potency" value="{{defaultValues.potency}}" class="magic-casting-panel-content-field">
            </div>
            <div class="form-group">
              <label>Advanced Potency</label>
              <input
                type="checkbox"
                name="{{flag}}-potency-advanced"
                {{#if defaultValues.potency-advanced }}
                  checked="checked"
                {{/if}}
                class="magic-casting-panel-content-field"
              >
            </div>
            {{#if defaultValues.freePotency}}
              <div>
                Free Potency: {{ defaultValues.freePotency }}
              </div>
            {{/if}}
            {{#if defaultValues.totalWithstanding}}
              <div>Potency after Withstand: {{defaultValues.effectivePotency}}</div>
            {{/if}}
            {{#if defaultValues.potency-advanced}}
              <div>+2 to withstand dispellation</div>
            {{/if}}
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label>Duration</label>
              <select name="{{flag}}-duration" class="magic-casting-panel-content-field">
                {{#each spellDurations}}
                <option
                  value="{{this.id}}"
                  {{#swnr-space-magic-if-equals this.id ../defaultValues.duration}}
                    selected="selected"
                  {{/swnr-space-magic-if-equals}}
                >{{this.name}}
                {{#swnr-space-magic-if-equals ../defaultValues.primary-factor 'duration'}}
                  (-{{ this.adjustedDicePenalty }} Dice)</option>
                {{else}}
                  (-{{ this.dicePenalty }} Dice)</option>
                {{/swnr-space-magic-if-equals}}
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label>Advanced</label>
              <input
                type="checkbox"
                name="{{flag}}-duration-advanced"
                class="magic-casting-panel-content-field"
                {{#if defaultValues.duration-advanced }}
                  checked="checked"
                {{/if}}
              >
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label>Casting Time</label>
              {{#if defaultValues.casting-time-advanced }}
                <div>{{defaultValues.casting-time-turns}} turn(s)</div>
              {{else}}
                <select name="{{flag}}-casting-time" class="magic-casting-panel-content-field">
                  {{#each ritualIntervals}}
                  <option
                    value="{{this.id}}"
                    {{#swnr-space-magic-if-equals this.id ../defaultValues.casting-time}}
                      selected="selected"
                    {{/swnr-space-magic-if-equals}}
                  >{{this.name}} (+{{ this.additionalDice }} Dice)</option>
                  {{/each}}
                </select>
              {{/if}}
            </div>
            <div class="form-group">
              <label>Advanced: Immediate Cast</label>
              <input
                type="checkbox"
                name="{{flag}}-casting-time-advanced"
                class="magic-casting-panel-content-field"
                {{#if defaultValues.casting-time-advanced }}
                  checked="checked"
                {{/if}}
                {{#if defaultValues.grimoire }}
                  disabled="disabled"
                {{/if}}
              >
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label>Range</label>
              <select name="{{flag}}-range" class="magic-casting-panel-content-field">
                {{#each ranges}}
                <option
                  value="{{this.id}}"
                  {{#swnr-space-magic-if-equals this.id ../defaultValues.range}}
                    selected="selected"
                  {{/swnr-space-magic-if-equals}}
                >{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label>Advanced</label>
              <input
                type="checkbox"
                name="{{flag}}-range-advanced"
                class="magic-casting-panel-content-field"
                {{#if defaultValues.range-advanced }}
                  checked="checked"
                {{/if}}
              >
            </div>
            {{#swnr-space-magic-if-contains defaultValues.range sympatheticRanges }}
              <div class="form-group">
                <label>Know subject's Sympathetic Name?</label>
                <input
                  type="checkbox"
                  name="{{flag}}-know-sympathetic-name"
                  class="magic-casting-panel-content-field"
                  {{#if defaultValues.know-sympathetic-name }}
                    checked="checked"
                  {{/if}}
                >
              </div>
              <div class="form-group">
                <label>Sympathetic Strength</label>
                <select name="{{flag}}-sympathetic-strength" class="magic-casting-panel-content-field">
                  {{#each remoteWithstanding}}
                  <option
                    value="{{this.id}}"
                    {{#swnr-space-magic-if-equals this.id ../defaultValues.sympathetic-strength}}
                      selected="selected"
                    {{/swnr-space-magic-if-equals}}
                  >{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-help">
                {{defaultValues.sympatheticStrengthData.desc}}
              </div>

            {{/swnr-space-magic-if-contains}}
            {{#swnr-space-magic-if-equals defaultValues.range 'aimed'}}
              <div>
                Range: Short: {{defaultValues.rangeAimedDistances.short}}, Med: {{defaultValues.rangeAimedDistances.med}}, Long: {{defaultValues.rangeAimedDistances.long}}, Max: {{defaultValues.rangeAimedDistances.max}}
              </div>
            {{/swnr-space-magic-if-equals}}
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label>Scale</label>
              <select name="{{flag}}-scale" class="magic-casting-panel-content-field">
                {{#each scales}}
                <option
                  value="{{this.id}}"
                  {{#swnr-space-magic-if-equals this.id ../defaultValues.scale}}
                    selected="selected"
                  {{/swnr-space-magic-if-equals}}
                >{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label>Advanced</label>
              <input
                type="checkbox"
                name="{{flag}}-scale-advanced"
                class="magic-casting-panel-content-field"
                {{#if defaultValues.scale-advanced }}
                  checked="checked"
                {{/if}}
              >
            </div>
          </fieldset>
          {{#if reachOptions}}
            <fieldset>
              <div class="form-group">
                <label>Reach &amp; Add-ons</label>
                <div class="yantras-wrap">
                  {{#each reachOptions as |reach index|}}
                    <label class="yantra-wrap">
                      <div class="yantra-title">
                          <input
                          type="checkbox"
                          name="{{ ../flag }}-spell-reach[]"
                          value="{{ index }}"
                          class="magic-casting-panel-content-field"
                          {{#swnr-space-magic-if-contains index ../defaultValues.spell-reach }}
                            checked="checked"
                          {{/swnr-space-magic-if-contains}}
                          {{#if reach.disabled}}
                              disabled="disabled"
                            {{/if}}
                        />
                        <strong>
                          {{#swnr-space-magic-if-equals reach.variant 'addon'}}
                            {{reach.prereq.key}} {{reach.prereq.dots}}
                          {{else}}
                            +{{reach.reachCost}} Reach:
                          {{/swnr-space-magic-if-equals}}
                        </strong>
                      </div>
                      <div class="yantra-desc">{{{ reach.desc }}}</div>
                    </label>
                  {{/each}}
                </div>
              </div>
            </fieldset>
          {{/if}}
          <fieldset>
            <div class="form-group">
              <label>Additional Reach</label>
              <input type="number" name="{{flag}}-additional-reach" value="{{defaultValues.additional-reach}}" class="magic-casting-panel-content-field">
            </div>
          </fieldset>
        </div>
        <div class="tab" data-tab="spell-yantras" data-group="spell-options">
          <fieldset>
            <div class="form-group">
              <label>Yantras</label>
              <div class="yantras-wrap">
                {{#each yantras}}
                  <label class="yantra-wrap">
                    <div class="yantra-title">
                        <input
                        type="checkbox"
                        name="{{ ../flag }}-yantras[]"
                        value="{{ this.id }}"
                        class="magic-casting-panel-content-field"
                        {{#swnr-space-magic-if-contains this.id ../defaultValues.yantras }}
                          checked="checked"
                        {{else}}
                          {{#if ../defaultValues.maxYantras}}
                            disabled="disabled"
                          {{/if}}
                        {{/swnr-space-magic-if-contains}}
                      />
                      {{ this.name}} (+{{this.bonus}})
                    </div>
                    <div class="yantra-desc">{{{ this.desc }}}</div>
                  </label>
                {{/each}}
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <label>Extra Yantra Bonus</label>
              <input type="number" name="{{flag}}-yantradice" value="{{defaultValues.yantradice}}" class="magic-casting-panel-content-field">
            </div>
            <div>Cannot be higher than +5, cannot use more than {{mageInfo.gnosisData.yantras}} yantras.</div>
            <div>Effective Yantra Bonus: {{defaultValues.effectiveYantraBonus}} (Total: {{defaultValues.totalYantraBonus}})</div>
          </fieldset>
        </div>
        <div class="tab" data-tab="spell-other" data-group="spell-options">
          <fieldset>
            <div class="form-group">
              <label>Spend Strain for +3 dice?</label>
              <input
                type="checkbox"
                name="{{flag}}-spend-willpower"
                class="magic-casting-panel-content-field"
                {{#if defaultValues.spend-willpower }}
                  checked="checked"
                {{/if}}
                {{#swnr-space-magic-if-equals actor.system.systemStrain.value actor.system.systemStrain.max}}
                  disabled="disabled"
                {{/swnr-space-magic-if-equals}}
              >
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label>Additional Spellcasting Dice</label>
              <input
                type="number"
                name="{{flag}}-additional-dice"
                class="magic-casting-panel-content-field"
                value="{{ defaultValues.additional-dice }}"
              >
            </div>
            <div><small>From Fate magic, Foci, Artifacts, etc.</small></div>
          </fieldset>
        </div>
      </div>


      {{#swnr-space-magic-if-not-equal defaultValues.paradoxDice null}}
      <fieldset>
        <div class="form-group">
          <label>Contain Paradox</label>
          <input
            type="checkbox"
            name="{{flag}}-contain-paradox"
            {{#if defaultValues.contain-paradox }}
              checked="checked"
            {{/if}}
            class="magic-casting-panel-content-field"
          >
        </div>
        <div class="form-group">
          <label>Mitigate Paradox With Mana</label>
          <input type="number" name="{{flag}}-potency-mana" value="{{defaultValues.potency-mana}}" class="magic-casting-panel-content-field">
        </div>
        <div class="form-group">
          <label>Dedicated Magical Tool</label>

            {{#if defaultValues.dedicated-tool }}
              Yes
            {{ else }}
              No
            {{/if}}
        </div>
        <div><small>Must be one of used Yantras.</small></div>
      </fieldset>
      {{/swnr-space-magic-if-not-equal}}
      {{#if defaultValues.activeSpellReachPenalty }}
        <div class="swnr-mage-alert swnr-mage-alert-info">
          Reach penalty from active spells: {{defaultValues.activeSpellReachPenalty}}
        </div>
      {{/if}}
      <table>
        <tr>
          <th>Dice Pool</th>
          <td class="swnr-space-magic-field-numbers-wrap">
            {{#swnr-space-magic-if-lt defaultValues.dicePool -5}}
              Uncastable
            {{else}}
              {{defaultValues.dicePool}}
              {{#swnr-space-magic-if-lte defaultValues.dicePool 0}}
                (Chance Die)
              {{/swnr-space-magic-if-lte}}
            {{/swnr-space-magic-if-lt}}

            {{#if defaultValues.diceRoteQuality}}
              <span class="magic-casting-badge">rote</span>
            {{/if}}
          </td>
          <td class="swnr-space-magic-field-toggles-wrap">
            <label class="swnr-space-magic-field-toggle">
              <input
                type="radio"
                class="magic-casting-panel-content-field"
                name="roll-style"
                value="8-again"
                {{#swnr-space-magic-if-equals defaultValues.roll-style "8-again"}}
                  checked="checked"
                {{/swnr-space-magic-if-equals}}
                {{#swnr-space-magic-if-lte defaultValues.dicePool 0}}
                  disabled="disabled"
                {{/swnr-space-magic-if-lte}}
              />
              8 Again
            </label>
            <label class="swnr-space-magic-field-toggle">
              <input
                type="radio"
                class="magic-casting-panel-content-field"
                name="roll-style"
                value="9-again"
                {{#swnr-space-magic-if-equals defaultValues.roll-style "9-again"}}
                  checked="checked"
                {{/swnr-space-magic-if-equals}}
                {{#swnr-space-magic-if-lte defaultValues.dicePool 0}}
                  disabled="disabled"
                {{/swnr-space-magic-if-lte}}
              />
              9 Again
            </label>
            <label class="swnr-space-magic-field-toggle">
              <input
                type="radio"
                class="magic-casting-panel-content-field"
                name="roll-style"
                value="10-again"
                {{#swnr-space-magic-if-equals defaultValues.roll-style "10-again"}}
                  checked="checked"
                {{/swnr-space-magic-if-equals}}
                {{#swnr-space-magic-if-lte defaultValues.dicePool 0}}
                  disabled="disabled"
                {{/swnr-space-magic-if-lte}}
              />
              10 Again
            </label>
            <label class="swnr-space-magic-field-toggle">
              <input
                type="radio"
                class="magic-casting-panel-content-field"
                name="roll-style"
                value="rote"
                {{#swnr-space-magic-if-equals defaultValues.roll-style "rote"}}
                  checked="checked"
                {{/swnr-space-magic-if-equals}}
                {{#swnr-space-magic-if-lte defaultValues.dicePool 0}}
                  disabled="disabled"
                {{/swnr-space-magic-if-lte}}
              />
              Rote
            </label>
          </td>
        </tr>
        <tr>
          <th>Reach</th>
          <td class="swnr-space-magic-field-numbers-wrap">
            {{defaultValues.reach}}/{{defaultValues.reachMax}}
            </td>
          <td></td>
        </tr>
        <tr>
          <th>Mana</th>
          <td class="swnr-space-magic-field-numbers-wrap">
            {{defaultValues.manaCost}}
          </td>
          <td></td>
        </tr>
        {{#swnr-space-magic-if-not-equal defaultValues.paradoxDice null}}

          <tr>
            <th>Paradox Dice</th>
            <td class="swnr-space-magic-field-numbers-wrap">
              {{defaultValues.paradoxDice}}
              {{#swnr-space-magic-if-lte defaultValues.paradoxDice 0}}
                (Chance Die)
              {{/swnr-space-magic-if-lte}}
            </td>
            <td></td>
          </tr>
        {{/swnr-space-magic-if-not-equal}}
      </table>
      <div class="magic-casting-panel-controls">
        <button
          type="button"
          data-action="cast-spell"
          data-actor-id="{{actor}}"
          class="swnr-mage-btn magic-casting-prepare-btn"
          {{#if uncastable}}
            disabled="disabled"
          {{/if}}
        >Cast Spell</button>
      </div>
      {{#if uncastable}}
        <div class="swnr-mage-alert swnr-mage-alert-danger">
          <ul class="magic-casting-panel-errors">
            {{#each castErrors}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </main>
  </div>
</form>