<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/swnr/templates/items/fragments/desc.html"}}
  <main>
    {{#swnr-space-magic-if-equals item.type 'power'}}
      <div class="form-group">
        <label>
          Power Type
        </label>
          <select
            name="flags.swnr-space-magic.power-type"
          >
            <option value=""></option>
            {{#each powerTypeOptions}}
              <option
                value="{{this.value}}"
                {{#swnr-space-magic-if-equals ../item.flags.swnr-space-magic.power-type this.value }}
                  selected="selected"
                {{/swnr-space-magic-if-equals}}
              >{{this.label}}</option>
            {{/each}}
          </select>
        </label>
      </div>
      {{#if isMtAwSpell }}
        <nav class="magic-casting-spells-nav mta-power-tab-nav" data-group="power-nav">
          <a type="button" class="item mage-spell-level-tab" data-tab="general">
            Details
          </a>
          <a type="button" class="item mage-spell-level-tab" data-tab="addons">
            Addons
          </a>
          {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
            <a type="button" class="item mage-spell-level-tab" data-tab="active">
              Active Spell
            </a>
          {{/swnr-space-magic-if-equals}}
        </nav>
        <div class="mta-power-tab-content">
          <section class="mta-power-tab-content" data-group="power-nav">
            <div class="tab mta-power-tab" data-tab="general" data-group="power-nav">
              <div class="form-group">
                <label>Arcanum</label>
                <select
                  name="flags.swnr-space-magic.arcanum"
                  {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                    disabled="disabled"
                  {{/swnr-space-magic-if-equals}}
                >
                  {{#select item.flags.swnr-space-magic.arcanum}}
                    {{#each arcana as |arcanum|}}
                      <option value="{{arcanum}}">{{arcanum}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="form-group">
                <label for="">{{localize 'swnr.sheet.level'}}: </label>
                <input
                  type="number"
                  class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
                  name="data.level"
                  value="{{data.data.level}}"
                  step="1"
                  min="0"
                  max="5"
                  {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                    disabled="disabled"
                  {{/swnr-space-magic-if-equals}}
                />
              </div>
              <div class="form-group">
                <label>Practice</label>
                <select
                  name="flags.swnr-space-magic.practice"
                  class="magic-casting-panel-content-field"
                  {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                    disabled="disabled"
                  {{/swnr-space-magic-if-equals}}
                >
                  {{#select item.flags.swnr-space-magic.practice}}
                    {{#each practices as |rankpractices rank|}}
                    <optgroup label="{{rank}} dot">
                      {{#each rankpractices as |p k|}}
                      <option value="{{k}}">{{p.name}}</option>
                      {{/each}}
                    </optgroup>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="form-group">
                <label>Primary Factor</label>
                <select
                  name="flags.swnr-space-magic.primary-factor"
                  {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                    disabled="disabled"
                  {{/swnr-space-magic-if-equals}}
                >
                  {{#select item.flags.swnr-space-magic.primary-factor}}
                    <option value="potency">Potency</option>
                    <option value="duration">Duration</option>
                  {{/select}}
                </select>
              </div>
              <div class="form-group">
                <label>Withstand</label>
                <input
                  type="text" name="flags.swnr-space-magic.withstand"
                  value="{{item.flags.swnr-space-magic.withstand}}"
                  {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                    disabled="disabled"
                  {{/swnr-space-magic-if-equals}}
                />
              </div>
              <div class="form-group">
                <label>
                  <input
                    type="checkbox"
                    name="flags.swnr-space-magic.is-rote"
                    {{#if item.flags.swnr-space-magic.is-rote}}
                      checked="checked"
                    {{/if}}
                    {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                      disabled="disabled"
                    {{/swnr-space-magic-if-equals}}
                  >
                  Is Rote?
                </label>
              </div>
              <div class="form-group">
                <label>
                  <input
                    type="checkbox"
                    name="flags.swnr-space-magic.is-praxis"
                    {{#if item.flags.swnr-space-magic.is-praxis}}
                      checked="checked"
                    {{/if}}
                    {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                      disabled="disabled"
                    {{/swnr-space-magic-if-equals}}
                  >
                  Is Praxis?
                </label>
              </div>
              <div class="form-group">
                <label for="">Mana Cost</label>
                <input type="number"
                  class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
                  name="flags.swnr-space-magic.mana-cost" value="{{item.flags.swnr-space-magic.mana-cost}}" step="1" min="0" max="5" {{#swnr-space-magic-if-equals
                  item.flags.swnr-space-magic.power-type 'mageActiveSpell' }} disabled="disabled" {{/swnr-space-magic-if-equals}} />
              </div>
              <div class="form-group">
                <label>Damage/Healing Dice</label>
                <select name="flags.swnr-space-magic.damage-dice" class="magic-casting-panel-content-field" {{#swnr-space-magic-if-equals
                  item.flags.swnr-space-magic.power-type 'mageActiveSpell' }} disabled="disabled" {{/swnr-space-magic-if-equals}}>
                  {{#select item.flags.swnr-space-magic.damage-dice}}
                    {{#each diceSizes }}
                      <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            </div>
            <div class="tab mta-power-tab" data-tab="addons" data-group="power-nav">
              {{#each item.flags.swnr-space-magic.reach as |reach index|}}
              <fieldset class="item-reach">
                <legend><span>
                  {{#swnr-space-magic-if-equals reach.variant 'addon'}}
                  Add-on
                  {{else}}
                  Reach
                  {{/swnr-space-magic-if-equals}}
                </span></legend>
                {{#swnr-space-magic-if-equals ../item.flags.swnr-space-magic.power-type 'mageSpell'}}
                  <buttton
                    type="button"
                    data-action="remove-reach"
                    data-index="{{index}}"
                    title="Remove"
                    class="item-btn-reach-remove"
                  >
                    &times;</buttton>
                {{/swnr-space-magic-if-equals}}
                <div class="form-group form-group-stacked">
                  <label>Description</label>
                  <textarea
                    name="flags.swnr-space-magic.reach[{{index}}].desc"
                    class="swnr-space-magic-reach-field"
                    data-index="{{index}}" data-field="desc"
                    {{#swnr-space-magic-if-equals ../item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                      disabled="disabled"
                    {{/swnr-space-magic-if-equals}}
                  >{{reach.desc}}</textarea>
                </div>
                {{#swnr-space-magic-if-equals reach.variant 'addon'}}
                <div class="form-group">
                  <label>Arcanum</label>
                  <select
                    name="flags.swnr-space-magic.reach[{{index}}].prereq.key"
                    class="swnr-space-magic-reach-field"
                    data-index="{{index}}" data-field="prereq" data-subfield="key"
                    {{#swnr-space-magic-if-equals ../item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                      disabled="disabled"
                    {{/swnr-space-magic-if-equals}}
                  >
                    {{#select reach.prereq.key}}
                    {{#each ../arcana as |arcanum|}}
                    <option value="{{arcanum}}">{{arcanum}}</option>
                    {{/each}}
                    {{/select}}
                  </select>
                </div>
                <div class="form-group">
                  <label for="">{{localize 'swnr.sheet.level'}}: </label>
                  <input type="number"
                    class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md swnr-space-magic-reach-field"
                    name="flags.swnr-space-magic.reach[{{index}}].prereq.dots" value="{{reach.prereq.dots}}" step="1" min="0" max="5"
                    data-index="{{index}}" data-field="prereq" data-subfield="dots"
                    {{#swnr-space-magic-if-equals ../item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                    disabled="disabled"
                    {{/swnr-space-magic-if-equals}}
                  />
                </div>
                {{/swnr-space-magic-if-equals}}

                <div class="item-reach-costs">
                  <div class="item-reach-costs-label">Costs</div>
                  <div class="item-reach-costs-fields-wrap">
                    {{#swnr-space-magic-if-equals reach.variant 'reach'}}
                      <div class="item-reach-costs-field">
                        <label>Reach</label>
                        <input type="text" name="flags.swnr-space-magic.reach[{{index}}].reachCost" value="{{reach.reachCost}}"
                          data-index="{{index}}" data-field="reachCost" class="swnr-space-magic-reach-field" {{#swnr-space-magic-if-equals
                          ../item.flags.swnr-space-magic.power-type 'mageActiveSpell' }} disabled="disabled" {{/swnr-space-magic-if-equals}} />
                      </div>
                    {{/swnr-space-magic-if-equals}}
                    <div class="item-reach-costs-field">
                      <label>Mana</label>
                      <input type="text" name="flags.swnr-space-magic.reach[{{index}}].manaCost" value="{{reach.manaCost}}"
                        data-index="{{index}}" data-field="manaCost" class="swnr-space-magic-reach-field" {{#swnr-space-magic-if-equals
                        ../item.flags.swnr-space-magic.power-type 'mageActiveSpell' }} disabled="disabled" {{/swnr-space-magic-if-equals}} />
                    </div>
                    <div class="item-reach-costs-field">
                      <label>Strain</label>
                      <input type="text" name="flags.swnr-space-magic.reach[{{index}}].strainCost" value="{{reach.strainCost}}"
                        data-index="{{index}}" data-field="strainCost" class="swnr-space-magic-reach-field" {{#swnr-space-magic-if-equals
                        ../item.flags.swnr-space-magic.power-type 'mageActiveSpell' }} disabled="disabled" {{/swnr-space-magic-if-equals}} />
                    </div>
                  </div>
                </div>
              </fieldset>
              {{/each}}
              {{#swnr-space-magic-if-not-equal ../item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
                <div class="flex gap-1">
                  <button
                    type="button"
                    data-action="add-reach"
                    data-variant="reach"
                  >Add Reach</button>
                  <button
                    type="button"
                    data-action="add-reach"
                    data-variant="addon"
                  >Add Addon</button>
                </div>
              {{/swnr-space-magic-if-not-equal}}
            </div>
            {{#swnr-space-magic-if-equals item.flags.swnr-space-magic.power-type 'mageActiveSpell'}}
              <div class="tab mta-power-tab" data-tab="active" data-group="power-nav">
                Active Spell Details
                <div class="form-group">
                  <label>
                    <input
                      type="checkbox"
                      name="flags.swnr-space-magic.relinquished"
                      {{#if item.flags.swnr-space-magic.relinquished}}
                        checked="checked"
                      {{/if}}
                    >
                    Relinquished
                  </label>
                </div>
                <table class="swnr-mage-chat-roll-table">
                  <tbody>
                    <tr>
                      <th>Arcanum</th>
                      <td>{{activeInfo.arcanum }}</td>
                    </tr>
                    <tr>
                      <th>Practice</th>
                      <td>{{activeInfo.practiceData.name }}</td>
                    </tr>
                    <tr>
                      <th class="mta-power-tab-mid-head" colspan="100%">Factors</th>
                    </tr>
                    <tr>
                      <th>Potency</th>
                      <td>{{activeInfo.factors.potency }}</td>
                    </tr>
                    <tr>
                      <th>Duration</th>
                      <td>{{activeInfo.durationData.name }}</td>
                    </tr>
                    {{!-- <tr>
                      <th>Casting Time</th>
                      <td>{{activeInfo.factors.casting-time }}</td>
                    </tr> --}}
                    <tr>
                      <th>Range</th>
                      <td>{{activeInfo.rangeData.name }}</td>
                    </tr>

                    <tr>
                      <th>Scale</th>
                      <td>{{activeInfo.scaleData.name }}</td>
                    </tr>
                    <tr>
                      <th class="mta-power-tab-mid-head" colspan="100%">Reach</th>
                    </tr>
                    <tr>
                      <th>Reach</th>
                      <td>
                        <ul class="mta-active-power-reach-list">
                        {{#each activeInfo.reachData}}
                          <li>{{this.desc}}</li>
                        {{/each}}
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            {{/swnr-space-magic-if-equals}}
          </section>
      {{else}}
        <div class="flex gap-1">
          <div>
            <label for="data.source">{{localize 'swnr.sheet.source'}}: </label>
            <input
              type="text"
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
              name="data.source"
              value="{{data.data.source}}"
            />
          </div>
          <div>
            <label for="">{{localize 'swnr.sheet.level'}}: </label>
            <input
              type="number"
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
              name="data.level"
              value="{{data.data.level}}"
              step="1"
              min="0"
              max="5"
            />
          </div>
          <div>
          <label for="">{{localize 'swnr.sheet.powers.roll'}}:</label>
            <input
              type="text"
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
              name="data.roll"
              value="{{data.data.roll}}"
            />
          </div>

          <div>
            <label for="">{{localize 'swnr.sheet.powers.duration'}}:</label>
            <input
              type="text"
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
              name="data.duration"
              value="{{data.data.duration}}"
            />
          </div>

          <div class="flexcol">
            <label for="">{{localize 'swnr.sheet.powers.save'}}:</label>
              <select
                class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
                name="data.save"
              >
                {{#select data.data.save}}
                <option value="">-</option>
                <option value="physical">{{localize 'swnr.sheet.saves.physical'}}</option>
                <option value="mental">{{localize 'swnr.sheet.saves.mental'}}</option>
                <option value="evasion">{{localize 'swnr.sheet.saves.evasion'}}</option>
                {{#if useHomebrewLuckSave}}
                  <option value="luck">{{localize 'swnr.sheet.saves.luck'}}</option>
                {{/if}}
                {{/select}}
              </select>
          </div>
        </div>
        <div class="flex gap-1">
          <div>
            <label for=""><br>{{localize 'swnr.sheet.powers.range'}}:</label>
            <input
              type="text"
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
              name="data.range"
              value="{{data.data.range}}"
            />
          </div>
          <div class="flex flex-col">
          <label for="data.skill">{{localize 'swnr.sheet.powers.skill'}}:</label>
            <input
              type="text"
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
              name="data.skill"
              value="{{data.data.skill}}"
            />
          </div>


          <div class="flexcol">
            <label for=""><br>{{localize 'swnr.effort.title'}}:</label>
              <select
                class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
                name="data.effort"
              >
                {{#select data.data.effort}}
                <option value="">-</option>
                <option value="day">{{localize 'swnr.effort.day'}}</option>
                <option value="scene">{{localize 'swnr.effort.scene'}}</option>
                <option value="current">{{localize 'swnr.effort.current'}}</option>
                {{/select}}
              </select>
          </div>

          <div class="flex items-center">
            <label class="flex items-center gap-1"><br><br>
              <input
                class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
                type="checkbox"
                name="data.prepared"
                {{checked data.data.prepared}}
            />
              <div>{{localize 'swnr.sheet.powers.prepared'}}</div>
            </label>
          </div>
        </div>
      {{/if}}
    {{else}}
      {{#swnr-space-magic-if-equals item.type 'item'}}
        {{> "systems/swnr/templates/items/fragments/item-base.html"}}
        <div class="form-group">
          <label>
            <input
              type="checkbox"
              name="flags.swnr-space-magic.is-yantra"
              {{#if item.flags.swnr-space-magic.is-yantra}}
                checked="checked"
              {{/if}}
            >
            Is yantra?
          </label>
        </div>
        {{#if item.flags.swnr-space-magic.is-yantra}}
          <div class="form-group">
            <label for="">Yantra Bonus: </label>
            <input
              type="number"
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
              name="flags.swnr-space-magic.yantra-bonus"
              value="{{item.flags.swnr-space-magic.yantra-bonus}}"
              step="1"
              min="0"
              max="5"
            />
          </div>
        {{/if}}
      {{/swnr-space-magic-if-equals}}
    {{/swnr-space-magic-if-equals}}
    {{#swnr-space-magic-if-equals item.type 'skill'}}
    <div class="flex gap-2 justify-between">
      <div>
        <div>Stat:</div>
        <select name="data.defaultStat" class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md">
          {{#select data.data.defaultStat}}
          <option value="ask">{{localize 'swnr.sheet.ask'}}</option>
          {{#*inline "statline"}}
          <option value="{{name}}">
            {{localize (concat 'swnr.stat.short.' name)}}
          </option>
          {{/inline}} {{> statline name="str"}} {{> statline name="dex"}} {{>
          statline name="con"}} {{> statline name="int"}} {{> statline
          name="wis"}} {{> statline name="cha"}} {{/select}}
        </select>
      </div>
      <div>
        <div>Die Pool:</div>
        <select name="data.pool" class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md">
          {{#select data.data.pool}}
          <option value="ask">{{localize 'swnr.sheet.ask'}}</option>
          <option value="2d6">2D6</option>
          <option value="3d6kh2">3D6</option>
          <option value="4d6kh2">4D6</option>
          {{/select}}
        </select>
      </div>
      <div>
        <div>Skill Level:</div>
        <input type="number" class="px-1 text-center w-8 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
          name="data.rank" min="-1" max="4" step="1" value="{{data.data.rank}}" />
      </div>
      <div>
        <div>Source:</div>
        <input type="text" name="data.source" value="{{data.data.source}}"
          class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md" />
      </div>
    </div>
    <div class="p-2 m-2">
      {{#if data.data.remember}}
      {{#if data.data.remember.use}}
      <label class="flex items-center gap-1">
        <input type="checkbox" name="data.remember.use" {{checked data.data.remember.use}} />
        <div>Use remembered skill (dice, mod, etc). <br>
          Uncheck to forget and ask on next to roll -- stat and dice selection will remain.</div>
      </label>
      {{/if}}
      {{/if}}
    </div>
    {{/swnr-space-magic-if-equals}}
  </main>
</form>